<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Snap My Date"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Envitefy"
        android:usesCleartextTraffic="false">

        <!-- Launcher that opens your website in a Trusted Web Activity -->
        <activity
            android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Your production origin -->
            <meta-data
                android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="https://envitefy.com/" />

            <!-- Optional splash -->
            <meta-data
                android:name="android.support.customtabs.trusted.SPLASH_IMAGE_DRAWABLE"
                android:resource="@mipmap/ic_launcher" />
            <meta-data
                android:name="android.support.customtabs.trusted.SPLASH_SCREEN_FADING"
                android:value="false" />
        </activity>

    </application>

</manifest>

