.wrapper {
  pointer-events: none;
  position: absolute;
  inset: 0;
}

.border {
  position: absolute;
  inset: 10px;
  border-radius: 28px;
  padding: 6px;
  border: 1px solid transparent;
  background-size: 18px 18px;
  background-repeat: repeat;
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask: linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

